<ul>
  <li><strong>2025</strong> UVA Link Lab Distinguished Research Award</li>
  <li><strong>2025</strong> NSF-EMBS-Google NextGen Scholar in Biomedical Informatics</li>
  <li><strong>2025</strong> UVA All-University Graduate Teaching Award</li>
  <li><strong>2024</strong> UVA Sture G. Olsson Endowed Fellowship ($12,000)</li>
  <li><strong>2024</strong> NSF Cyber-Physical System (CPS) Rising Star</li>
  <li><strong>2024</strong> University of Virginia Engineering Teaching Fellowship (~$20,000)</li>
  <li><strong>2024</strong> University of Virginia Ruthie Oxford Memorial Award</li>
  <li><strong>2021</strong> University of Virginia SIE Departmental Fellowship (~$55,000)</li>
  <li><strong>2020</strong> Xiamen University Outstanding Undergraduate Research Award &amp; Funding (~$10,000)</li>
</ul>
