
<h2>News</h2>

<div class="news-list">
{% for news in site.data.news %}
{% if news.show %}
<div class="news-item">
  <div class="news-date"><i class="far fa-newspaper"></i> {{ news.date }}</div>
  <div class="news-copy">{{- news.descr | markdownify | replace: '<p>', '' | replace: '</p>', '' -}}</div>
</div>

{% if include.num %}
    {% if forloop.index >= include.num %}
        {% break %}
    {% endif %}
{% endif %}
{% endif %}
{% endfor %}
</div>

{% if include.num %}
<a class="text-link" href="{{ '/news/' | relative_url }}">See all news</a>
{% endif %}
